extends common

block content
    style.
        h1 {text-align: center;}
        p {text-align: center;}
        input {text-align: center;}

        div#login_wrapper {
            text-align: center;
        }

        
    form(class="form-signin" method="POST" action="/login")
      h1 Welcome
      #login_wrapper
        div
            input(type="text" name="admin_id" id="admin_id" maxlength='20' placeholder='admin ID' value="")
            p
          
        div
            input(type='password' name='admin_pwd' id="admin_pwd" maxlength='20' placeholder='password' value="")
            p
        
        p
        button.btn.btn-primary(type="submit") login