extends layout.pug


block content
  - var logNamelist = logNameList;
  - var logDataList = logDataList;
  - var idx = idx;

  title= title
  h1 Log Result Page
  each line in logDataList[idx].split('\end') 
    p #{line}