doctype html

include ../../../node_modules/pug-bootstrap/_bootstrap.pug

html
  head
    meta(charset='utf-8')
    script.
   
  body
    block head
      +navbar("Project Match3D","dropdown_menu")
        +nav_item("../") Home
        +nav_item("../user") User
        +nav_item("../cheat") Cheat
        +nav_item("../logs") Logs
        +nav_item("../test") Test
        +nav_item("../etc") Contact

    block content
    
    block foot
